@import url('https://css.gg/search.css');

:root {
  --brown: #D0814E;
  --brown-l1: #DF9D6C;
  --brown-l2: #F7D3AA;
  --brown-l3: blanchedalmond;
  --brown-d1: #9F7159;
  --brown-d2: #634739;
  --white: #ffffff;
  --carbon: #3E3E40;
  --carbon-l1: #777378;
}

body {
  margin: 0px;
  background-color:var(--brown-l3) !important;

}

.title {
  color: var(--brown-l2);
}


.main-container {
  padding-top: 5%;
  background-color: inherit;
}

.countries-container{
  min-height: 200px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  background-color: rgb(248, 248, 248);
}

.flag-sm{
  width: 40px;
}

.navbar {
  /* background-color: #d95736; */
  background-color: var(--carbon);
  color: var(--brown-l2);
  height: 100px;
}

.navbar-heading{
  font-size: 2rem;
}


.navbar-content{
  padding: 10px 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.navbar-list{
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-list-item{
  display: inline;
  padding: 10px;
  font-size: 1.5rem;
  color: white;
  opacity: 70%;
}


.navbar-list-item:hover{
  opacity: 100%;
}

.link {
  text-decoration: none;
  color: inherit;
}

.link:hover {
  text-decoration: none;
  color: inherit;
}


#country-name{
  display: block;
  margin: auto;
  border-radius: 25px;
  width:50%;
  padding-left: 50px;
  background-image: url(./magnifying-glass.png);
  background-position: 10px 2px;
  background-size: 20px 20px;
  background-repeat: no-repeat;

}

.hover-bigger:hover{
  font-weight: 600;
}

.hover-bigger:hover .flag-sm{
  font-weight: 500;
  width: 50px;
}

.country-flag {
  color: white;
  background-color: var(--carbon);
  /* height: 200px; */

}

.country-flag-info {
  background-color: var(--carbon-l1);
  /* height: 200px; */
  
}

.country-info {
  background-color: var(--carbon-l1);
  color: white;
  /* height: 200px; */
  
}

.country-info-general-info {
  background-color: var(--carbon);
  color: white;
  /* height: 200px; */
  
}

.v-hr {
  height: 150px;
  align-self: center;
  width: 1px;
  background-color: var(--brown-l2);
  border-radius: 15px;
  /* margin: 0px 20px; */
}

.h-hr {
  height: 1px;
  width: 25%;
  background-color: var(--brown-l2);
  border-radius: 15px;
  /* margin: 0px 20px; */
}

.img-container img{
  width: 100%;
}
